* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

:root {
    --secondary-color: #af3f55;
}

header {
    background: var(--secondary-color);
    border-bottom: 2px solid #979ca0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.symbol-h1 {
    padding-left: 100px;
}

header nav ul {
    font-size: 25px;
    padding: 15px;
}

header nav ul ol a {
    color:white;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.background {
    background: radial-gradient(#e29676, #e77170 65%);
}

.background-2 {
    background-image: url("../assets/images/IMG_1708.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

h1 {
    color: white;
    text-shadow: 10px 15px 25px rgba(0, 0, 0, 0.5);
}

.intro {
   color: white;
   padding: 50px 50px;
}

.intro h3 {
    font-size: 40px;
}

.intro h4 {
    font-size: 25px;
}

article {
    padding: 170px 0;
}

p {
    font-weight: 300;
    font-size: 20px;
}

.samples {
    padding: 10px;
    background: var(--secondary-color);
    border-top: 2px solid #979ca0;
    border-bottom: 2px solid #979ca0;
}

.images {
    width: 25vw;
}

.image-2 {
    width: 31vw;
}

.images:hover {
    color: #e29676;
    border: 20px;
    opacity: .9;
}

header nav ul ol a:hover {
    color: #e29676;
    font-size: 25px;
}

.contact-me {
    background: radial-gradient(#e29676, #e77170 65%);
    color: white;
}

.contact-me h2 {
    font-size: 40px;
    text-align: center;
}

.icons {
    padding: 15px;
}

.icons img {
    padding: 0 5px;

}

.icons a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    padding: 5px;
    border-top: 2px solid #979ca0;
    background:var(--secondary-color);
}

footer h4 {
    font-size: 20px;
}

footer div {
    color: white;
}

@media screen and (max-width: 768px) {

    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    header h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    header nav ul li a {
        font-size: 25px;
    }

    .selfie{
        width: 40%;
        height: 40%;
    }

    article {
        padding: 75px 10px;
    }

    article p {
        text-align: center;
    }

    .links {
        display: flex;
        align-items: center;
    }

 }
 
 @media screen and (max-width: 575px) {

    .symbol-h1 {
        padding-left: 30px;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul ol a {
        font-size: 6vw;
    }

    .intro {
        text-align: center;
    }

    .self-info {
        display: flex;
        flex-wrap: wrap;
    }

    .selfie {
        width: 50%;
        height: 50%;
    }

    .icons {
        display: inline-block;
    }

    p {
        font-size: 5vw;
    }

    .row-style {
        display: flex;
        justify-content: center;
    }

    .images {
        width: 290px;
    }

    .contact-info {
        flex-wrap: wrap;
    }

    .links {
        display: block;
    }

    .caption h3 {
        font-size: smaller;
    }
 }