* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'spectral bold';
    src: url('assets/fonts/spectral-bold.woff2') format('woff2'),
         url('assets/fonts/spectral-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karla italic';
    src: url('assets/fonts/karla-italic.woff2') format('woff2'),
         url('assets/fonts/karla-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karla regular';
    src: url('assets/fonts/karla-regular.woff2') format('woff2'),
         url('assets/fonts/karla-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
    padding: 25px 20px;
    background: linear-gradient(#e77170, #e29676 95%);
    border: 5px solid #979ca0;
    border-bottom: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    padding: 5px;
    display: flex;
    font-size: 50px;
}

header h1 a {
    font-family: 'spectral bold';
    font-weight: bolder;
    text-decoration: none;
    color: white;
    text-shadow: 10px 15px 25px rgba(0, 0, 0, 0.5);
}

header nav {
    padding: 15px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-style: italic;
    font-size: 25px;
    justify-content: flex-end;
}

header nav ul li a {
    font-family: 'karla italic';
    padding: 10px 50px;
    color:white;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.border-style {
    border: 5px solid #979ca0;
    border-top: none;
    border-bottom: none;
}

.banner {
    background: linear-gradient(#e29676, #e77170 65%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intro {
   color: white;
   font-weight: bolder;
   font-style: italic;
   font-family: 'karla italic';
   padding: 150px 50px;
}

.intro h3 {
    font-family: 'karla italic';
    font-size: 40px;
}

.intro h4 {
    font-size: 25px;
}

article {
    padding: 120px;
    background: radial-gradient(rgba(255, 255, 255, 0.6), #c2cad0);
    font-style: italic;
}

article h2 {
    color: #af3f55;
    font-size: 50px;
    font-family: 'karla italic';
    float: left;
}

p {
    font-family: 'karla italic';
    font-size: large;
    display: flex;
    justify-content: flex-end;
}

.samples {
    padding: 100px;
    background: radial-gradient(#e29676 25%, #e77170);
    font-weight: bolder;
    font-style: italic;
}

.samples h2 {
    color: #af3f55;
    font-size: 50px;
    font-family: 'karla italic';
    text-align: center;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
  
.grid-item {
    border: 5px solid #af3f55;
    border-radius: 5px;
}

.image-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.web-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.contact-me {
    padding: 50px;
    background: radial-gradient(rgba(255, 255, 255, 0.6), #c2cad0);
    color: #af3f55;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-style: italic;
}

.contact-me h2 {
    font-size: 40px;
    color: #af3f55;
    text-align: center;
    font-family: 'karla italic';
}

.links {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.icons {
    padding: 15px;
}

.icons img {
    padding: 0 5px;

}

.icons a {
    font-size: 20px;
    font-family: 'karla italic';
    text-decoration: none;
    color: #af3f55;
}

footer {
    text-align: center;
    font-size: 15px;
    padding: 15px;
    border: 5px solid #979ca0;
    border-top: none;
    background:linear-gradient(#e77170, #af3f55 95%);
}

footer h4 {
    font-weight: bold;
    font-size: 20px;
}

footer div {
    color: white;
}

.grid-item {
    overflow: hidden;
}

.caption {
    top: 200px;
    color: white;
    text-align: center;
}

.grid-item h4 {
    font-size: 10px;
}


@media screen and (max-width: 980px) {

    header {
        padding: 0;
    }
    header h1 {
        padding: 10px 0 10px 20px;
    }

    header nav {
        padding-top: 30px;
    }

    article {
        display: inline-flex;
    }
    .grid-container {
        grid-template-columns: repeat(2, 25vw);
    }

    .contact-me {
        display: inline-flex;
    }

    .links {
        padding: 0;
    }

    .icons a {
        font-size: 15px;
    }

 }
 
 @media screen and (max-width: 768px) {

    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    header h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    header nav ul li a {
        font-size: 25px;
    }

    article {
        padding: 35px;
    }

    article h2 {
        text-align: center;
    }

    article p {
        text-align: center;
        padding: 0 70px;
    }

    .samples h2 {
        padding-bottom: 45px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 27vw);
    }

    .contact-me {
        display: flex;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        align-items: center;
    }

 }
 
 @media screen and (max-width: 575px) {

    header nav ul li a {
        padding: 10px;
    }
    .intro {
        padding-top: 75px;
        padding-bottom: 5px;
        text-align: center;
    }

    article h2 {
        font-size: xx-large;
        text-align: center;
        padding-right: 25px;
    }

    article p {
        font-size: smaller;
        display: contents;
    }

    .links {
        display: block;
    }
 }